<mat-card *ngIf="!loading">
  <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoomLevel"
    (mapClick)="addMarker($event.coords.lat, $event.coords.lng, $event)"
    mapTypeId="{{ mapType }}"
  >
    <agm-marker
      *ngFor="let marker of locations"
      [latitude]="marker.lat"
      [longitude]="marker.lng"
      [opacity]="marker.alpha"
      (markerClick)="selectMarker($event)"
      ><agm-info-window
        ><app-info-form
          [description]="marker.description"
          [latitude]="marker.lat"
          [longitude]="marker.lng"
        ></app-info-form
      ></agm-info-window>
    </agm-marker>
  </agm-map>
</mat-card>
<mat-spinner *ngIf="loading"></mat-spinner>
